@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Raleway:wght@500&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  font-family: 'Faster One', cursive;
  font-size: 44px;
  letter-spacing: 1rem;
}

#header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 95vw;
}

#header h1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
}

#body {
  display: flex;
  flex-flow: row nowrap;
  width: 95vw;
}

#circuit-sidebar {
  height: fit-content;
  width: fit-content;
  background-color: rgb(193,0,7);
  border: solid 1px black;
}

.circuit-list-item {
  text-align: center;
  border: 1px solid black;
}

.circuit-list-item:hover {
  background-color: gray;
  cursor: pointer;
}

.circuit-list-item h5 {
  margin: 0;
  padding: 0.5em;
}
